*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFADD;
  margin-top: 20vh;
}
.ToDoContent{
  background-color: #8ECDDD;
  width: 400px;
  height: 500px;
  border: none;
  border-radius: 15px;
  
}
.heading{
  height: 80px;
  background-color: #22668D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: white;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Input{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.Input input{
  height: 40px;
  border: none;
  border-bottom: 2px solid rgb(179, 153, 115);
  width: 350px;
  border-radius: 10px;
}
.Input button{
  width: 30px;
  height: 40px;
  border:none;
  border-radius: 5px;
  margin-left: 5px;
  background-color: #22668D;
  color: white;
}
.Content{
  display: flex;
  overflow-y: auto;
  height: 360px;
}
.Content li{
  list-style: none;
}
.List{
  display: flex;
  font-size: 28px;
  gap: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
}
::placeholder{
  padding-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
input[type=text]{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 10px;
}
.del{
  background-image: url(delete.png);
  background-size: cover;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}